h1 
{
color:white;
font-size: 35px;
font-family: "ubuntu";
texte-decoration: underline;
underline color: white;
text-align: center
}

p 
{ 
color:white;
font-family: "ubuntu";
text-align: left;
font-size: 20px;
}

li
{
font-family: "ubuntu";
texte-size-ajust: auto;
}

h2 
{ 
color: white;
font-family: "ubuntu";
text-decoration: underline}
h1,h3,li,p { color: white;

}

.image-small
{
imge-align: center;
width: 600px;
}

header 
{
background-color: white;
padding-top: 10px;
padding-bottom: 10px;
    transform-origin: center;
}

header a
{     
color: black;
margin-left: 30 px;
margin-right: 30 px;
    
}

header li
{
color: black;
list-style: georgian;
display: inline-block;
margin-left: 25 px;
margin-right: 25 px;
width: 24%;
text-align: center;
}
 /* broder: 1px solid red; */

body 
{
margin: 0
}

body 
{
background-color: #ff3333
}
.raoul 
{ 
color: white;
}

li{
font-family: "ubuntu";
font-size: 20px;
}

footer
{
background-color: white;
padding-top: auto;
padding-bottom: auto;
position:fixed;
    width: 100%;
padding-top:10px;
bottom:0px;
}

.h3{
font-family: "Ubuntu";
    text-align: center;

    
}
.image-medium
{
width: 150px;
}
